.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-5);
  margin-block-start: var(--space-6);
}

@media (min-width: 640px) {
  .grid[data-columns="2"] {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid[data-columns="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Half-size items side by side, even on mobile */
.grid[data-compact] {
  display: flex;
  flex-wrap: wrap;
}

.grid[data-compact] > * {
  width: min(250px, calc(50% - var(--space-5) / 2));
}
